<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <div>
            <h1>Welcome To Mobile Application</h1>
        </div>
        <div>
            <p>User Name:{{name}}</p>
            <p>Email:{{email}}</p>
        </div>
        
    </body>
</html>